
docker.enabled = true
nextflow.enable.dsl=2


params {
    NULL = 'NULL'
    bam = [
        '/home/grace/work/pp/translation/examples/sample_data/2895499223_sorted.bam',
        '/home/grace/work/pp/translation/examples/sample_data/2895499223_sorted.bam.bai',
    ]
    dbsnp = [
        '/home/grace/work/pp/translation/examples/sample_data/chr17_test_dbsnp.vcf.gz',
        '/home/grace/work/pp/translation/examples/sample_data/chr17_test_dbsnp.vcf.gz.tbi',
    ]
    reference = [
        '/home/grace/work/pp/translation/examples/sample_data/chr17_test.fa',
        '/home/grace/work/pp/translation/examples/sample_data/chr17_test.dict',
        '/home/grace/work/pp/translation/examples/sample_data/chr17_test.fa.fai',
    ]
    gvcf_gq_bands = NULL
    intervals = ["chr17"]
    emit_reference_confidence = 'GVCF'
    contamination_fraction = NULL
    max_alternate_alleles = NULL
    ploidy = NULL
    read_filter = NULL
}